.App {
  text-align: center;
}

.information {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5em;
  border: 2px solid rgb(54, 212, 138);
}

